---
import pilotos from '../Data/pilotos.json';
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
const logos = {
  "Mercedes Benz": "/Fotos/logo-mercedes.png",
  "Alpine": "/Fotos/logo-alpine.png",
  "Red Bull": "/Fotos/logo-redbull.png",
  "Ferrari": "/Fotos/logo-ferrari.png",
  "Williams": "/Fotos/logo-williams.png",
};

const escuderiasMap = pilotos.reduce((acc, piloto) => {
    if (!acc[piloto.escuderia]) {
        acc[piloto.escuderia] = { nombre: piloto.escuderia, puntos: 0 };
    }
    acc[piloto.escuderia].puntos += piloto.puntos;
    return acc;
}, {});

const escuderias = Object.values(escuderiasMap).sort((a, b) => b.puntos - a.puntos);
---

<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <title>Liga F1 - Los Chocapinto</title>
        <ClientRouter />
    </head>
    <script>
  const btnHistorial = document.getElementById('btn-historial');
  const menuHistorial = document.getElementById('menu-historial');
  const flecha = document.getElementById('flecha-historial');

  btnHistorial.addEventListener('click', (e) => {
    // Evitamos que el click se propague si es necesario
    e.stopPropagation();
    
    // Toggle de clases para mostrar/ocultar
    const isOpen = menuHistorial.classList.contains('opacity-100');
    
    if (isOpen) {
      menuHistorial.classList.remove('opacity-100', 'visible', 'translate-y-0');
      menuHistorial.classList.add('opacity-0', 'invisible', 'translate-y-2');
      flecha.style.transform = 'rotate(0deg)';
    } else {
      menuHistorial.classList.remove('opacity-0', 'invisible', 'translate-y-2');
      menuHistorial.classList.add('opacity-100', 'visible', 'translate-y-0');
      flecha.style.transform = 'rotate(180deg)';
    }
  });

  // Cerrar el menú si hacés click afuera (muy importante para mobile)
  document.addEventListener('click', () => {
    menuHistorial.classList.remove('opacity-100', 'visible', 'translate-y-0');
    menuHistorial.classList.add('opacity-0', 'invisible', 'translate-y-2');
    flecha.style.transform = 'rotate(0deg)';
  });
</script>
    <body class="bg-slate-950 text-white font-sans">
      

<div id="splash-screen" class="fixed inset-0 z-[100] flex flex-col items-center justify-center bg-black transition-opacity duration-1000">
    <div class="relative p-10 md:p-16">
        
        <div id="line-t" class="absolute top-0 left-0 h-[2px] bg-red-600 shadow-[0_0_15px_#dc2626] opacity-0"></div>
        <div id="line-r" class="absolute top-0 right-0 w-[2px] bg-red-600 shadow-[0_0_15px_#dc2626] opacity-0"></div>
        <div id="line-b" class="absolute bottom-0 right-0 h-[2px] bg-red-600 shadow-[0_0_15px_#dc2626] opacity-0"></div>
        <div id="line-l" class="absolute bottom-0 left-0 w-[2px] bg-red-600 shadow-[0_0_15px_#dc2626] opacity-0"></div>

        <div class="text-center overflow-hidden">
            <div class="flex items-center justify-center text-8xl md:text-9xl font-black italic tracking-tighter mb-4 relative">
                <span id="splash-f" class="relative inline-block text-white translate-x-[-100%] opacity-0 transition-all duration-700 ease-out">
                    F 1
                </span>
                <span id="splash-1" class="relative inline-block text-red-600 translate-x-[100%] opacity-0 transition-all duration-700 ease-out">
                    2025
                </span>
            </div>

            <div class="overflow-hidden">
                <p id="splash-liga" class="text-zinc-500 font-mono text-sm md:text-lg uppercase tracking-[0.4em] opacity-0 translate-y-[20px] transition-all duration-1000">
                    BIENVENIDOS - Liga Los Chocapinto
                </p>
            </div>
        </div>
    </div>
</div>
<style is:global>
    .draw-line-h { animation: drawH 0.2s forwards linear; }
    .draw-line-v { animation: drawV 0.4s forwards linear; }

    @keyframes drawH {
        from { width: 0; opacity: 1; }
        to { width: 100%; opacity: 1; }
    }

    @keyframes drawV {
        from { height: 0; opacity: 1; }
        to { height: 100%; opacity: 1; }
    }
</style>
<style>
    /* Efecto de destello extra al impactar en el centro */
    .f1-glow {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 40px rgba(220, 38, 38, 0.6);
    }
    
    body.overflow-hidden {
        overflow: hidden;
    }
</style>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const splash = document.getElementById('splash-screen');
        const f1Text = [document.getElementById('splash-f'), document.getElementById('splash-1')];
        const ligaText = document.getElementById('splash-liga');
        const lines = [
            document.getElementById('line-t'),
            document.getElementById('line-r'),
            document.getElementById('line-b'),
            document.getElementById('line-l')
        ];

        // 1. Aparece el F1 2025 (Casi instantáneo)
        setTimeout(() => {
            f1Text.forEach(el => {
                el.style.transform = 'translateX(0)';
                el.style.opacity = '1';
            });
        }, 100);

        // 2. Aparece el texto de la Liga
        setTimeout(() => {
            ligaText.style.transform = 'translateY(0)';
            ligaText.style.opacity = '1';
        }, 400);

        // 3. Dibujado de líneas (Efecto ráfaga)
        setTimeout(() => {
            lines[0].classList.add('draw-line-h'); // Arriba
            setTimeout(() => lines[1].classList.add('draw-line-v'), 150); // Derecha
            setTimeout(() => lines[2].classList.add('draw-line-h'), 300); // Abajo
            setTimeout(() => lines[3].classList.add('draw-line-v'), 450); // Izquierda
        }, 800);

        // 4. Desvanecer Splash y pasar a la web
        // Ajustamos este tiempo para que se vea el cuadro un momento (aprox 2.5 segundos total)
        setTimeout(() => {
            splash.style.opacity = '0';
            setTimeout(() => {
                splash.style.display = 'none';
            }, 1000); // Tiempo que tarda en hacerse transparente
        }, 2500); 
    });
</script>
<script>
    const runSplashScreen = () => {
        const splash = document.getElementById('splash-screen');
        const f = document.getElementById('splash-f');
        const n1 = document.getElementById('splash-1');
        const liga = document.getElementById('splash-liga');

        if (!splash) return;

        // VERIFICACIÓN: ¿Ya vimos el telón en esta sesión?
        if (sessionStorage.getItem('splash-visto')) {
            splash.style.display = 'none';
            document.body.classList.remove('overflow-hidden');
            return;
        }

        // Si es la primera vez, ejecutamos la animación
        splash.style.display = 'flex';
        document.body.classList.add('overflow-hidden');

        setTimeout(() => {
            f?.classList.remove('translate-x-[-100%]', 'opacity-0');
            f?.classList.add('translate-x-0', 'opacity-100');
            n1?.classList.remove('translate-x-[100%]', 'opacity-0');
            n1?.classList.add('translate-x-0', 'opacity-100');
            
            setTimeout(() => {
                f?.classList.add('f1-glow');
                n1?.classList.add('f1-glow');
            }, 600);
        }, 500);

        setTimeout(() => {
            liga?.classList.remove('opacity-0', 'translate-y-[20px]');
            liga?.classList.add('opacity-100', 'translate-y-0');
        }, 1400);

        setTimeout(() => {
            splash.classList.add('opacity-0');
            document.body.classList.remove('overflow-hidden');
            
            setTimeout(() => { 
                splash.style.display = 'none';
                // GUARDAMOS EN MEMORIA que ya se vio
                sessionStorage.setItem('splash-visto', 'true');
            }, 1000);
        }, 3000);
    };

    // Escuchamos el evento de carga de Astro
    document.addEventListener('astro:page-load', () => {
        // Solo intentamos ejecutarlo si estamos en el Home
        if (window.location.pathname === '/' || window.location.pathname === '/index.html') {
            runSplashScreen();
        } else {
            // En cualquier otra página, nos aseguramos de que esté oculto
            const splash = document.getElementById('splash-screen');
            if (splash) splash.style.display = 'none';
        }
    });
</script>




      <nav class="fixed top-0 w-full bg-zinc-900/80 backdrop-blur-md border-b border-zinc-800 z-50">
    <div class="max-w-6xl mx-auto px-6 py-4 md:py-5 flex flex-col md:flex-row justify-between items-center gap-3 md:gap-0">
        
        <div class="flex items-center gap-2">
            <span class="font-black italic text-lg md:text-xl tracking-tighter uppercase text-white -skew-x-15">
                FORMULA <span class="text-red-600">1</span>
            </span>
        </div>

        <div class="flex flex-wrap justify-center md:justify-end gap-x-4 md:gap-8 gap-y-2 text-[10px] md:text-[12px] font-black uppercase tracking-[0.1em] md:tracking-[0.2em]">
            
            <a href="#inicio" class="hover:text-red-500 transition-colors">Inicio</a>
            <a href="#pilotos" class="hover:text-red-500 transition-colors">Pilotos</a>
            <a href="#constructores" class="hover:text-red-500 transition-colors">Escuderías</a>
            <a href="#puntaje" class="hover:text-red-500 transition-colors">Puntaje</a>
            
            
            <a href="#Configuración" class="hover:text-red-500 transition-colors hidden sm:block">Configuración</a>
            <a href="#Calendario" class="hover:text-red-500 transition-colors hidden sm:block">Calendario</a>
<a href="estadistica" class="hover:text-red-500 transition-colors">Estadistica</a>
            <div class="relative group" id="dropdown-historial">
    <button 
        id="btn-historial"
        type="button"
        class="flex items-center gap-1 hover:text-red-500 transition-colors uppercase font-black outline-none"
    >
        Historial
        <svg class="w-3 h-3 transition-transform" id="flecha-historial" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>

    <div 
        id="menu-historial"
        class="dropdown-content absolute right-0 mt-2 w-48 bg-zinc-900 border border-zinc-800 rounded-xl shadow-2xl 
               opacity-0 invisible md:group-hover:opacity-100 md:group-hover:visible 
               transition-all duration-300 translate-y-2 md:group-hover:translate-y-0 z-50 overflow-hidden"
    >
        <div class="py-2">
            <a href="/historial" class="block px-6 py-3 text-zinc-200 hover:text-white hover:bg-zinc-800 transition-colors border-b border-zinc-800/50">
                Carreras 
            </a>
            <a href="/sprint" class="block px-6 py-3 text-zinc-200 hover:text-red-500 hover:bg-zinc-800 transition-colors">
                Sprint 
            </a>
        </div>
    </div>
</div>
        </div>
    </div>
</nav>

<style>
    .show-dropdown {
        opacity: 1 !important;
        visibility: visible !important;
        transform: translateY(0) !important;
    }
    .rotate-arrow {
        transform: rotate(180deg) !important;
    }
@keyframes latido {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Se agranda un 10% */
  }
}

.animate-latido {
  animation: latido 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes latido-pro {
  0%, 100% {
    transform: scale(1);
    filter: grayscale(10%) opacity(50%) blur(1px);
    /* Sombra tenue cuando está "apagado" */
    filter: drop-shadow(0 0 0px rgba(0,0,0,0));
  }
  50% {
    transform: scale(1.25); /* Se agranda un 15% */
    filter: grayscale(0%) opacity(100%) blur(0px);
    /* Brillo rojo estilo F1 cuando se agranda */
    filter: drop-shadow(0 0 15px rgba(220, 38, 38, 0.6));
  }
}

.animate-latido-color {
  animation: latido-pro 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


</style>

<script>
    // Usamos 'astro:page-load' para que el script se reactive tras cada navegación
    document.addEventListener('astro:page-load', () => {
        const btn = document.getElementById('btn-historial');
        const menu = document.getElementById('menu-historial');
        const flecha = document.getElementById('flecha-historial');

        if (!btn || !menu || !flecha) return;

        // Función para cerrar el menú
        const cerrarMenu = () => {
            menu.classList.remove('show-dropdown');
            flecha.classList.remove('rotate-arrow');
        };

        // Escuchamos el click directamente en el botón
        btn.addEventListener('click', (e) => {
            // Solo aplicamos la lógica manual si es pantalla táctil/chica
            if (window.innerWidth < 1024) {
                e.preventDefault();
                e.stopPropagation();
                menu.classList.toggle('show-dropdown');
                flecha.classList.toggle('rotate-arrow');
            }
        });

        // Cerrar si se hace click en cualquier otra parte de la pantalla
        document.addEventListener('click', (e) => {
            if (!btn.contains(e.target as Node) && !menu.contains(e.target as Node)) {
                cerrarMenu();
            }
        });

        // Cerrar si se presiona una opción del menú (opcional)
        menu.addEventListener('click', () => {
            if (window.innerWidth < 1024) {
                cerrarMenu();
            }
        });
    });
</script>



        <main class="max-w-5xl mx-auto py-24 px-4 pt-32">
           
    
         <header id="inicio" class="mb-16 relative py-20 overflow-hidden border-b-4 border-red-950"> 
    <img 
        src="/Fotos/fondo-f1.png" 
        class="absolute inset-0 w-full h-full object-cover opacity-20 z-0 pointer-events-none" 
        alt="Fondo Sprint"
    />

    <div class="relative z-10 text-center">
        <h1 class="text-5xl font-black uppercase italic tracking-tighter text-white -skew-x-15">
            LIGA 2025 <span class="text-red-600 -skew-x-15"> LOS CHOCAPINTO</span>
        </h1>
        <p class="text-zinc-300 font-mono text-xs uppercase tracking-[0.4em] mt-2">
            Venado Tuerto - Santa Fe - Argentina
        </p>
    </div>
</header>


            <div class="mb-16 bg-zinc-900 rounded-3xl border  border-zinc-800 p-8 shadow-2xl relative overflow-hidden group hover:border-red-600/10 transition-all ">
    <div class="relative z-10 flex flex-col lg:flex-row items-center gap-10 ">
        
        <div class="w-full lg:w-[35%] flex flex-col items-center justify-center p-4 ">
            <img 
                src="/Fotos/foto-fecha5mexico.png" 
                alt="Circuito Barcelona" 
                class="w-[130%] max-w-[320px] h-auto object-contain filter  transition-transform animate-latido-color"
            />
            <p class="text-[9px] text-zinc-600 font-mono mt-4 tracking-[0.4em] uppercase animate-latido-color">Autódromo • hermanos Rodriguez</p>
        </div>

        <div class="flex-1 w-full border-t lg:border-t-0 lg:border-l border-zinc-800 pt-8 lg:pt-0 lg:pl-10">
            <div class="flex items-center gap-3 mb-4">
                <span class="bg-red-600 text-white text-[10px] font-black uppercase tracking-widest px-3 py-1 rounded-full animate-latido-color">Próximo GP</span>
            </div>
            
            <h2 class="text-5xl font-black uppercase tracking-tighter italic text-white leading-none mb-4">
                Gran Premio<br/>de <span class="text-red-600 ">México</span>
            </h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-8">
                <div class="bg-zinc-950 p-4 rounded-xl border border-zinc-801 border-b-2 border-b-red-100 shadow-inner">
                    <p class="text-[10px] text-zinc-500 uppercase tracking-widest font-mono mb-1">Día y Hora (Arg)</p>
                    <p class="text-lg font-black text-white">Viernes 15 de Mayo</p>
                    <p class="text-3xl font-mono font-black text-red-600 leading-none">23:00hs</p>
                </div>

                <div class="bg-zinc-950 p-4 rounded-xl border border-zinc-800 shadow-inner border-b-2 border-b-red-100">
                    <p class="text-[10px] text-zinc-500 uppercase tracking-widest font-mono mb-2">Formato Sesión</p>
                    <div class="text-[11px] space-y-1 font-bold">
                        <p class="flex justify-between"><span>Práctica:</span> <span class="text-white">30m</span></p>
                        
                        
                        <p class="flex justify-between"><span>Qualy Carrera:</span> <span class="text-white">18m</span></p>
                        <p class="flex justify-between text-red-500"><span>Carrera:</span> <span>36V (50%)</span></p>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex flex-wrap gap-x-6 gap-y-2 text-[11px] text-zinc-500 font-bold uppercase tracking-widest border-t border-zinc-800 pt-4">
                <span class="flex items-center gap-1.5"><span class="w-1 h-1 bg-red-600 rounded-full"></span>📏 4,304 KM</span>
                <span class="flex items-center gap-1.5"><span class="w-1 h-1 bg-red-600 rounded-full"></span>🏁 17 CURVAS</span>
                <span class="flex items-center gap-1.5"><span class="w-1 h-1 bg-red-600 rounded-full"></span>📍 Hermanos Rodriguez</span>
            </div>
        </div>
    </div>
</div>
<div class="relative group ... mb-6"> 
   <h2 class="text-2xl font-bold mb-6 flex items-center gap-2 uppercase tracking-tight">
                    <span class="w-2 h-8 bg-red-600 inline-block -skew-x-15"></span> NOVEDADES
                </h2>
   </div>

<div class="relative group overflow-hidden rounded-3xl border border-red-600/30 bg-zinc-900/50 p-1">
    <div class="relative overflow-hidden rounded-2xl h-64 md:h-80">
        {/* Imagen de fondo de McLaren */}
        <img 
            src="/Fotos/haas-coming-soon.jpg" 
            alt="McLaren Formula 1 Team" 
            class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105" 
        />
        
        {/* Overlay con degradado naranja McLaren */}
        <div class="absolute inset-0 bg-gradient-to-t from-black via-black/40 to-transparent"></div>
        
        {/* Contenido del Anuncio */}
        <div class="absolute bottom-0 left-0 p-8 w-full">
            <div class="flex items-center gap-3 mb-3">
                <span class="bg-red-600 text-white text-bold font-black px-3 py-1 rounded-full uppercase tracking-tighter animate-pulse">
                    Próxima Incorporación FECHA 5
                </span>
                
            </div>
            
            <h2 class="text-4xl md:text-6xl font-black uppercase italic tracking-tighter text-white">
                Haas Ferrari <span class="text-red-500">F1 </span>
            </h2>
            
            <p class="text-zinc-400 mt-2 font-light max-w-md italic">
                Se suma a Los Chocapinto. Preparate para el Haas Ferrari en la parrilla.
            </p>
        </div>
    </div>

    {/* Efecto de brillo perimetral naranja */}
    <div class="absolute -inset-0.5 bg-red-500/20 blur opacity-0 group-hover:opacity-100 transition duration-500"></div>
</div>

<div class="relative group ... mb-16"> 
   </div>



            <section id="pilotos" class="mb-20 scroll-mt-32">
                <h2 class="text-2xl font-bold mb-6 flex items-center gap-2 uppercase tracking-tight">
                    <span class="w-2 h-8 bg-red-600 inline-block -skew-x-15"></span> Campeonato de Pilotos
                </h2>
                <div class="bg-zinc-900 rounded-xl overflow-hidden border border-zinc-800 shadow-2xl">
                    <table class="w-full text-left">
                        <thead class="bg-zinc-800 text-zinc-400 uppercase text-[10px] tracking-widest">
    <tr>
        <th class="px-4 py-4 text-center">Pos</th>
        <th class="px-6 py-4">Piloto</th>
        <th class="px-4 py-4 text-center text-yellow-500">🏆</th>
        <th class="px-4 py-4 text-center text-red-500">Pole</th>
        <th class="px-4 py-4 text-center text-blue-500">VR</th>
        <th class="px-6 py-4 text-right">PTS</th>
    </tr>
</thead>

<tbody class="divide-y divide-zinc-800">
    {pilotos.sort((a, b) => b.puntos - a.puntos).map((piloto, index) => (
        <tr class="hover:bg-zinc-50/20 transition-all group">
            <td class="px-4 py-6 font-black text-2xl italic text-zinc-800 group-hover:text-red-600 text-center leading-none">
                {index + 1}
            </td>
            <td class="px-6 py-6">
                <div class="flex items-center gap-4">
                    <img src={logos[piloto.escuderia]} alt={piloto.escuderia} class="w-15 h-15 object-contain" />
                    
                    {/* FOTO DEL PILOTO */}
                    <img 
    src={`/Fotos/perfil-${piloto.nombre.toLowerCase()}.jpg`} 
    alt={piloto.nombre} 
    class="w-20 h-20 rounded-full object-cover border-4 border-zinc-700 
           transition-all duration-300 ease-in-out bg-zinc-800 shadow-lg
           /* Efecto en PC */
           md:hover:scale-125 md:hover:z-50 md:hover:border-red-600 
           /* Efecto en Celular al tocar */
           active:scale-125 active:z-50 active:border-red-600
           cursor-pointer touch-manipulation animate-latido"
/>

                    <div>
                        <div class="font-black text-zinc-100 text-lg uppercase tracking-tighter leading-none">{piloto.nombre}</div>
                        <div class="text-[9px] text-zinc-500 font-bold tracking-widest uppercase mt-1">{piloto.escuderia}</div>
                    </div>
                </div>
                
            </td>
            
            <td class="px-4 py-6 text-center font-bold text-zinc-400">
                {piloto.victorias > 0 ? <span class="text-yellow-500">{piloto.victorias}</span> : "0"}
            </td>
            <td class="px-4 py-6 text-center font-bold text-zinc-400">
                {piloto.poles > 0 ? <span class="text-red-500">{piloto.poles}</span> : "0"}
            </td>
            <td class="px-4 py-6 text-center font-bold text-zinc-400">
                {piloto.vueltasRapidas > 0 ? <span class="text-blue-500">{piloto.vueltasRapidas}</span> : "0"}
            </td>
            <td class="px-6 py-6 text-right">
                <span class="font-mono font-black text-xl text-white italic">
                    {piloto.puntos}
                </span>
            </td>
        </tr>
    ))}
</tbody>
                    </table>
                </div>
            </section>



            <section id="constructores" class="mb-20 scroll-mt-32">
    <h2 class="text-2xl font-bold mb-6 flex items-center gap-2 uppercase tracking-tight">
        <span class="w-2 h-8 bg-zinc-100 inline-block -skew-x-15"></span> Campeonato Escuderías
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4">
        {escuderias.map((team, index) => (
            /* Aplicamos el efecto de zoom, elevación y sombra sin romper la estructura original */
            <div class="bg-zinc-900 p-8 rounded-xl border border-zinc-600 flex flex-col items-center justify-center relative overflow-hidden group shadow-lg transition-all duration-300 ease-out hover:scale-105 hover:z-50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.7)] transform-gpu will-change-transform">
                <img src={logos[team.nombre]} alt={team.nombre} class="w-20 h-20 object-contain mb-6 transition-transform group-hover:scale-150" />
                <h3 class="text-xl font-black uppercase z-10 tracking-tighter text-zinc-400">{team.nombre}</h3>
                <p class="text-5xl font-mono font-black mt-2 text-red-600 z-10 italic animate-pulse">{team.puntos}</p>
                <div class="absolute -bottom-2 -right-2 text-7xl font-black text-zinc-800 italic">#{index + 1}</div>
            </div>
        ))}
    </div>
</section>

     <section id="puntaje" class="scroll-mt-32 mb-20">
    <h2 class="text-sm font-black mb-8 uppercase tracking-[0.3em] text-zinc-100 flex items-center gap-4 text-center">
        <span class="flex-1 h-[1px] bg-zinc-800"></span> ESQUEMA DE PUNTAJE <span class="flex-1 h-[1px] bg-zinc-800"></span>
    </h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start p-4">
        
        <div class="bg-zinc-900/50 p-8 rounded-2xl border border-zinc-800 border-l-red-600 transition-all duration-300 ease-out hover:scale-105 hover:z-50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.7)] transform-gpu will-change-transform group relative">
    <h3 class="text-red-600 font-black uppercase italic mb-6">Puntos por Carrera</h3>
    
    <div class="grid grid-cols-2 gap-x-8">
        
        <div>
            <h4 class="text-[13px] text-zinc-200 font-bold uppercase tracking-widest mb-3 border-b border-zinc-800 pb-1">Gran Premio</h4>
            <div class="grid grid-cols-2 gap-y-2 font-mono  uppercase">
                <div class="text-zinc-500">1°:</div><div class="text-right font-black text-white">25</div>
                <div class="text-zinc-500">2°:</div><div class="text-right font-black text-white">18</div>
                <div class="text-zinc-500">3°:</div><div class="text-right font-black text-white">15</div>
                <div class="text-zinc-500">4°:</div><div class="text-right font-black text-white">12</div>
                <div class="text-zinc-500">5°:</div><div class="text-right font-black text-white">10</div>
                <div class="text-zinc-500">6°:</div><div class="text-right font-black text-white">8</div>
                <div class="text-zinc-500">7°:</div><div class="text-right font-black text-white">4</div>
                <div class="text-zinc-500">8°:</div><div class="text-right font-black text-white">2</div>
            </div>
        </div>

        <div>
            <h4 class="text-red-600/80 text-[13px] font-bold uppercase tracking-widest mb-3 border-b border-zinc-800 pb-1">Sprint</h4>
            <div class="grid grid-cols-2 gap-y-2 font-mono uppercase">
                <div class="text-zinc-500">1°:</div><div class="text-right font-black text-white">6</div>
                <div class="text-zinc-500">2°:</div><div class="text-right font-black text-white">5</div>
                <div class="text-zinc-500">3°:</div><div class="text-right font-black text-white">4</div>
                <div class="text-zinc-500">4°:</div><div class="text-right font-black text-white">3</div>
                <div class="text-zinc-500">5°:</div><div class="text-right font-black text-white">2</div>
                <div class="text-zinc-500">6°:</div><div class="text-right font-black text-white">1</div>
                <div class="text-transparent">7°:</div><div></div>
                <div class="text-transparent">8°:</div><div></div>
            </div>
        </div>
    </div>
</div>

        <div class="space-y-4">
            <div class="bg-zinc-900/50 p-6 rounded-2xl border border-zinc-800  border-l-red-600 font-bold uppercase text-[12px] transition-all duration-300 ease-out hover:scale-105 hover:z-50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.7)] transform-gpu will-change-transform group relative">
                <p class="mb-2">Pole Position: <span class="text-white">+1 PT</span></p>
                <p>Vuelta Rápida (Top 8, si hace DNF no cuenta): <span class="text-white">+1 PT</span></p>
            </div>

            <div class="bg-zinc-950 p-6 rounded-2xl border border-zinc-400 italic text-zinc-100 text-sm transition-all duration-300 ease-out hover:scale-105 hover:z-50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.7)] transform-gpu will-change-transform group relative">
                Si un piloto no asiste a la carrera, sumará <span class="text-red-500 font-bold">0 puntos</span>.
            </div>
        </div>
    </div>
</section>


<section id="Configuración" class="scroll-mt-32 mb-20">
				
					<h2 class="text-sm font-black mb-8 uppercase tracking-[0.3em] text-zinc-100 flex items-center gap-4 text-center">
                    <span class="flex-1 h-[1px] bg-zinc-800"></span> Configuración y Daños <span class="flex-1 h-[1px] bg-zinc-800"></span>
                </h2>
   

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="bg-zinc-900/50 p-6 rounded-2xl border border-yellow-700 transition-all duration-300 ease-out hover:scale-105 hover:z-10 hover:border-2 hover:border-yellow-500/50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.5)] group relative">
        <div class="flex items-center gap-3 mb-4">
            <div class="p-2 bg-red-600/10 rounded-lg">
                <span class="text-red-500">⚙️</span>
            </div>
            <h4 class="font-black uppercase italic text-sm tracking-tighter">Mecánica</h4>
        </div>
        <ul class="space-y-3 text-sm font-medium">
            <li class="flex justify-between border-b border-zinc-800/50 pb-2">
                <span class="text-zinc-500 font-bold normal-case">Rendimiento:</span>
                <span class="text-white font-bold normal-case">Parejo</span>
            </li>
            <li class="flex justify-between border-b border-zinc-800/50 pb-2">
                <span class="text-zinc-500 font-bold normal-case">Daños:</span>
                <span class="text-white font-bold normal-case text-right">Simulación</span>
            </li>
            <li class="flex justify-between">
                <span class="text-zinc-500 font-bold normal-case">Parc Fermé:</span>
                <span class="text-white font-bold normal-case">Activado</span>
            </li>
        </ul>
    </div>

    <div class="bg-zinc-900/50 p-6 rounded-2xl border border-yellow-700 transition-all duration-300 ease-out hover:scale-105 hover:z-10 hover:border-2 hover:border-yellow-500/50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.5)] group relative">
        <div class="flex items-center gap-3 mb-4">
            <div class="p-2 bg-blue-600/10 rounded-lg">
                <span class="text-blue-500">🛠️</span>
            </div>
            <h4 class="font-black uppercase italic text-sm tracking-tighter">Asistencias</h4>
        </div>
        <div class="space-y-4">
            <div>
                <p class="text-sm text-red-500 font-black uppercase tracking-widest mb-1">Prohibidas</p>
                <p class="text-sm text-zinc-100 leading-relaxed font-bold normal-case">Trazada dinámica desactivada</p>
            </div>
            <div>
                <p class="text-sm text-blue-500 font-black uppercase tracking-widest mb-1">Libre Elección (Joystick/Teclado)</p>
                <p class="text-sm text-zinc-100 leading-relaxed font-bold normal-case">ABS, Tracción, Caja de cambios, ERS y DRS</p>
                <p class="text-sm text-zinc-100 leading-relaxed font-bold normal-case">Con volante todo desactivado, caja manual</p>
            </div>
        </div>
    </div>

    <div class="bg-zinc-900/50 p-6 rounded-2xl border border-yellow-700 transition-all duration-300 ease-out hover:scale-105 hover:z-10 hover:border-2 hover:border-yellow-500/50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.5)] group relative">
        <div class="flex items-center gap-3 mb-4">
            <div class="p-2 bg-yellow-600/10 rounded-lg">
                <span class="text-yellow-500 text-xl">🚓</span>
            </div>
            <h4 class="font-black uppercase italic text-sm tracking-tighter">Varios</h4>
        </div>
        <ul class="space-y-3 text-sm font-medium">
            <li class="flex justify-between border-b border-zinc-800/50 pb-2">
                <span class="text-zinc-500 font-bold normal-case">Safety car:</span>
                <span class="text-white font-bold normal-case">Activado</span>
            </li>
            <li class="flex justify-between border-b border-zinc-800/50 pb-2">
                <span class="text-zinc-500 font-bold normal-case">Formación:</span>
                <span class="text-white font-bold normal-case">Obligatoria</span>
            </li>
            <li class="flex justify-between">
                <span class="text-zinc-500 font-bold normal-case">Cámara:</span>
                <span class="text-white font-bold normal-case">Libre / Cockpit (Con Volante)</span>
            </li>
        </ul>
    </div>
</div>
   <div class="mt-8 flex justify-center">
    <p class="inline-flex items-center gap-2 bg-yellow-600/10 px-6 py-2 rounded-full border border-yellow-600/20 text-[11px] text-yellow-500 font-mono font-black uppercase tracking-[0.2em] animate-pulse">
        <span>⚠️</span> 
        Cuidado extremo con el ala y el fondo plano. Daños en modo simulación. No sean bots.
		
    </p>
</div>


</section>


			<section id="integrantes" class="mt-32 pb-20 scroll-mt-32">
    <h2 class="text-2xl font-bold mb-10 flex items-center gap-4 uppercase tracking-tighter w-full">
    <span class="flex-1 h-[1px] bg-zinc-800"></span>
    
    <span class="shrink-0">
        INTEGRANTES <span class="text-red-600">2026</span>
    </span>

    <span class="flex-1 h-[1px] bg-zinc-800"></span>
</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {(() => {
            // ORDEN CORREGIDO POR COLUMNAS:
            // Col 1: Chor y Franco (Alpine)
            // Col 2: Simon y Diego (Mercedes Benz)
            // Col 3: Rodri y Leo (Red Bull)
            // Col 4: Rambo y Adrian (Ferrari)
            const ordenDeseado = ["Chor", "Franco", "Simon", "Diego", "Rodri", "Leo", "Rambo", "Adrian", "Seba", "IA-Williams"];
            
            const pilotosOrdenados = [...pilotos].sort((a, b) => {
                return ordenDeseado.indexOf(a.nombre) - ordenDeseado.indexOf(b.nombre);
            });

            return pilotosOrdenados.map((piloto) => {
                const fondoEscuderia = piloto.escuderia === "Mercedes Benz" ? "escuderia-mercedes.jpg" : 
                                     piloto.escuderia === "Alpine" ? "escuderia-alpine.jpg" : 
                                     piloto.escuderia === "Ferrari" ? "escuderia-ferrari.jpg" :
                                     piloto.escuderia === "Williams" ? "escuderia-williams.jpg" :
                                     "escuderia-redbull.jpg";
                
                return (
                    <div class="bg-zinc-900/60 border border-zinc-800 rounded-2xl p-6 transition-all duration-300 ease-out hover:scale-110 hover:z-50 hover:border-red-600/50 hover:shadow-[0_20px_50px_rgba(0,0,0,0.5)] group relative overflow-hidden cursor-default transform-gpu will-change-transform">
                        
                        <div class="absolute inset-0 z-0 overflow-hidden pointer-events-none">
                            <img 
                                src={`/Fotos/${fondoEscuderia}`} 
                                alt="" 
                                class="w-full h-full object-cover opacity-[0.27] group-hover:opacity-[0.65] transition-opacity duration-500"
                            />
                        </div>

                        <div class="relative z-10">
                            <div class="absolute -top-1 -right-1 text-[9px] font-black uppercase tracking-widest text-zinc-300 group-hover:text-red-100 transition-colors">
                                {piloto.nombre === "Chor" || piloto.nombre === "Simon" || piloto.nombre === "Rodri" || piloto.nombre === "Adrian" ? "Piloto 1" : "Piloto 2"}
                            </div>

                            <div class="flex items-start gap-4">
                                <div class="w-12 h-12 flex-shrink-0 bg-zinc-950 rounded-xl border border-zinc-800 p-2 flex items-center justify-center shadow-lg">
                                    <img src={logos[piloto.escuderia]} alt={piloto.escuderia} class="w-full h-full object-contain opacity-80 group-hover:opacity-100 transition-opacity" />
                                </div>

                                <div class="flex-1">
                                    <h3 class="text-xl font-black uppercase italic tracking-tighter text-white leading-none mb-1 group-hover:text-red-100 transition-colors">
                                        {piloto.nombre}
                                    </h3>
                                    <p class="text-[10px] text-zinc-500 font-bold uppercase tracking-widest mb-4 italic">
                                        {piloto.escuderia}
                                    </p>

                                   <div class="flex items-center gap-2 mb-4 bg-zinc-950/80 w-fit px-3 py-1.5 rounded-lg border border-zinc-800 shadow-inner">
    <span class="flex items-center justify-center">
    {/* Volante para los que usan simulador */}
    {(piloto.nombre === "Chor" || piloto.nombre === "Rambo") ? (
        <svg class="w-4 h-4 text-zinc-300" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10" /><line x1="12" y1="2" x2="12" y2="12" /><line x1="12" y1="12" x2="4" y2="18" /><line x1="12" y1="12" x2="20" y2="18" /><circle cx="12" cy="12" r="2" fill="currentColor" />
        </svg>
    ) : piloto.nombre === "IA-Williams" ? (
        /* Icono de Robot para la IA */
        <span class="text-sm">🤖</span>
    ) : piloto.nombre === "Franco" ? (
        <span class="text-sm">⌨️</span>
    ) : (
        /* Joystick para el resto */
        <span class="text-sm">🎮</span>
    )}
</span>
    
    <span class="text-[10px] font-mono text-zinc-300 uppercase font-bold">
    {piloto.nombre === "Adrian" ? "Joystick" :
     (piloto.nombre === "Chor" || piloto.nombre === "Rambo") ? "Volante" :
     piloto.nombre === "IA-Williams" ? "IA" : 
     piloto.nombre === "Franco" ? "Teclado" : "Joystick"}
</span>
</div>

                                    <a 
                                        href={
                                            piloto.nombre === "Chor" ? "https://www.instagram.com/jorgegiovagnoli/" :
                                            piloto.nombre === "Diego" ? "https://www.instagram.com/diiego.z_21" :
                                            piloto.nombre === "Simon" ? "https://www.instagram.com/pablosimon23/" :
                                            piloto.nombre === "Franco" ? "https://www.instagram.com/francobellisonzi/" :
                                            piloto.nombre === "Rodri" ? "https://www.instagram.com/roodribarros/" :
                                            piloto.nombre === "Rambo" ? "https://www.instagram.com/damifarias95/" :
                                            piloto.nombre === "Adrian" ? "https://www.instagram.com/adriian.correa/" :
                                            "https://www.instagram.com/leo.tapparello/"
                                        } 
                                        target="_blank" 
                                        class="inline-flex items-center gap-2 text-zinc-500 hover:text-pink-500 transition-colors text-[11px] font-bold"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
                                        <span>Ver perfil</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                );
            });
        })()}
    </div>
</section>






<section id="autos" class="mt-15 pb-20 scroll-mt-15">
    <h2 class="text-2xl font-bold mb-10 flex items-center gap-4 uppercase tracking-tighter w-full">
        <span class="flex-1 h-[1px] bg-zinc-800"></span>
        <span class="shrink-0">
            Monoplazas <span class="text-red-600">2025</span>
        </span>
        <span class="flex-1 h-[1px] bg-zinc-800"></span>
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-4">
        
        <div class="group relative overflow-hidden rounded-2xl border border-zinc-800 bg-zinc-900/40 transition-all duration-500 hover:border-pink-500/50 hover:scale-105 hover:z-10 transform-gpu will-change-transform">
            <div class="p-6">
                <h3 class="text-lg font-black uppercase italic tracking-tighter text-white group-hover:text-blue-500 transition-colors">Alpine A525</h3>
                <p class="text-[10px] text-zinc-500 font-bold uppercase tracking-widest">BWT Alpine F1 Team</p>
            </div>
            <div class="aspect-video overflow-hidden">
                <img 
                    src="/Fotos/coche-alpine.jpg" 
                    alt="Alpine 2025" 
                    class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110 group-hover:rotate-1 animate-latido"
                />
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-transparent to-transparent opacity-60"></div>
        </div>

        <div class="group relative overflow-hidden rounded-2xl border border-zinc-800 bg-zinc-900/40 transition-all duration-500 hover:border-zinc-400/50 hover:scale-105 hover:z-10 transform-gpu will-change-transform">
            <div class="p-6">
                <h3 class="text-lg font-black uppercase italic tracking-tighter text-white group-hover:text-green-300 transition-colors">Mercedes W16</h3>
                <p class="text-[10px] text-zinc-500 font-bold uppercase tracking-widest">Mercedes-AMG Petronas</p>
            </div>
            <div class="aspect-video overflow-hidden">
                <img 
                    src="/Fotos/coche-mercedes.jpg" 
                    alt="Mercedes 2025" 
                    class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110 group-hover:rotate-1 animate-latido"
                />
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-transparent to-transparent opacity-60"></div>
        </div>

        <div class="group relative overflow-hidden rounded-2xl border border-zinc-800 bg-zinc-900/40 transition-all duration-500 hover:border-yellow-600/50 hover:scale-105 hover:z-10 transform-gpu will-change-transform">
            <div class="p-6">
                <h3 class="text-lg font-black uppercase italic tracking-tighter text-white group-hover:text-yellow-600 transition-colors">Red Bull RB21</h3>
                <p class="text-[10px] text-zinc-500 font-bold uppercase tracking-widest">Oracle Red Bull Racing</p>
            </div>
            <div class="aspect-video overflow-hidden">
                <img 
                    src="/Fotos/coche-redbull.jpg" 
                    alt="Red Bull 2025" 
                    class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110 group-hover:rotate-1 animate-latido"
                />
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-transparent to-transparent opacity-60"></div>
        </div>

        <div class="group relative overflow-hidden rounded-2xl border border-zinc-800 bg-zinc-900/40 transition-all duration-500 hover:border-red-600/50 hover:scale-105 hover:z-10 transform-gpu will-change-transform">
            <div class="p-6">
                <h3 class="text-lg font-black uppercase italic tracking-tighter text-white group-hover:text-red-600 transition-colors">Ferrari SF-25</h3>
                <p class="text-[10px] text-zinc-500 font-bold uppercase tracking-widest">Scudería Ferrari HP</p>
            </div>
            <div class="aspect-video overflow-hidden">
                <img 
                    src="/Fotos/coche-ferrari.jpg" 
                    alt="Red Bull 2025" 
                    class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110 group-hover:rotate-1 animate-latido"
                />
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-transparent to-transparent opacity-60"></div>
        </div>

        <div class="group relative overflow-hidden rounded-2xl border border-zinc-800 bg-zinc-900/40 transition-all duration-500 hover:border-blue-600/50 hover:scale-105 hover:z-10 transform-gpu will-change-transform">
            <div class="p-6">
                <h3 class="text-lg font-black uppercase italic tracking-tighter text-white group-hover:text-blue-600 transition-colors">Williams FW-47</h3>
                <p class="text-[10px] text-zinc-500 font-bold uppercase tracking-widest">Escudería Atlassian Williams Racing</p>
            </div>
            <div class="aspect-video overflow-hidden">
                <img 
                    src="/Fotos/coche-williams.jpg" 
                    alt="Williams 2025" 
                    class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110 group-hover:rotate-1 animate-latido"
                />
            </div>
            <div class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-transparent to-transparent opacity-60"></div>
        </div>

    </div>
</section>

<section id="Calendario" class="mt-20 py-10 border-t border-zinc-800 px-4 scroll-mt-15">
    <div class="mb-10 text-center md:text-left">
        <h2 class="text-3xl font-black uppercase italic tracking-tighter text-white">
            Calendario <span class="text-red-600">2026</span>
        </h2>
        <p class="text-zinc-10 font-mono text-[10px] uppercase tracking-[0.3em] mt-2">Cronograma de Carreras y Sedes Confirmadas</p>
        <p class="text-zinc-10 font-mono text-[10px] uppercase tracking-[0.3em] mt-2"> Circuitos resaltados poseen sprint</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        
        <div class="space-y-4">
            <h3 class="text-red-600 font-black uppercase text-sm border-b border-zinc-800 pb-2 italic text-center">Abril 2026</h3>
            <div class="space-y-3">
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/espana.jpg" class="absolute inset-0 w-full h-full  grayscale-100" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 18</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de España</p>
                        <p class="text-zinc-400 text-[10px]">Barcelona - Catalunya</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center grayscale-100">
                    <img src="/Fotos/austria.jpg" class="absolute inset-0 w-full h-full opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Austria grayscale-100" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 24</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Austria</p>
                        <p class="text-zinc-400 text-[10px]">Red Bull Ring</p>
                    </div>
                </div>              
                
            </div>
        </div>




        <div class="space-y-4">
            <h3 class="text-red-600 font-black uppercase text-sm border-b border-zinc-800 pb-2 italic text-center">Mayo 2026</h3>
            <div class="space-y-3">
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-10 p-4 rounded-xl group h-24 flex flex-col justify-center animate-latido animate-pulse grayscale-100">
                    <img src="/Fotos/qatar.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-50 transition-opacity duration-500" alt="Qatar grayscale-100" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 01</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Qatar</p>
                        <p class="text-zinc-400 text-[10px]">Lusail International</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center grayscale-100">
                    <img src="/Fotos/australia.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-50 transition-opacity duration-500" alt="USA " />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 08</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Australia.</p>
                        <p class="text-zinc-400 text-[10px]">Albert-Park Melbourne</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/mexico.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="México" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 15</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de México</p>
                        <p class="text-zinc-400 text-[10px]">Hermanos Rodríguez</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/hungria.jpg" class="absolute inset-0 w-full h-full opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Hungría" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 22</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Hungría</p>
                        <p class="text-zinc-400 text-[10px]">Hungaroring</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/paisesbajos.jpg" class="absolute inset-0 w-full h-full  opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Holanda" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 29</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Países Bajos</p>
                        <p class="text-zinc-400 text-[10px]">Zandvoort</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-y-4">
            <h3 class="text-red-600 font-black uppercase text-sm border-b border-zinc-800 pb-2 italic text-center">Junio 2026</h3>
            <div class="space-y-3">
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-10 p-4 rounded-xl group h-24 flex flex-col justify-center animate-pulse animate-latido">
                    <img src="/Fotos/brasil.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Brasil" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 05</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de São Paulo</p>
                        <p class="text-zinc-400 text-[10px]">Interlagos</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/eeuu.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Vegas" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 12</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Las Vegas</p>
                        <p class="text-zinc-400 text-[10px]">Las Vegas Strip</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/canada.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Canadá" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 19</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Canadá</p>
                        <p class="text-zinc-400 text-[10px]">Gilles Villeneuve</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-10 p-4 rounded-xl group h-24 flex flex-col justify-center animate-pulse animate-latido">
                    <img src="/Fotos/china.jpg" class="absolute inset-0 w-full h-full opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="China" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 26</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de China</p>
                        <p class="text-zinc-400 text-[10px]">Shanghái</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-y-4">
            <h3 class="text-red-600 font-black uppercase text-sm border-b border-zinc-800 pb-2 italic text-center">Julio 2026</h3>
            <div class="space-y-3">
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/azerbaijan.jpg" class="absolute inset-0 w-full h-full opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Baku" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 03</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Azerbaiyán</p>
                        <p class="text-zinc-400 text-[10px]">Baku City</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/monaco.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="UK" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 10</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Mónaco</p>
                        <p class="text-zinc-400 text-[10px]">Mónaco</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-10 p-4 rounded-xl group h-24 flex flex-col justify-center animate-pulse animate-latido">
                    <img src="/Fotos/eeuu.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Miami" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 17</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Miami</p>
                        <p class="text-zinc-400 text-[10px]">Miami International</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/arabia.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Arabia" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 24</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Arabia Saudita</p>
                        <p class="text-zinc-400 text-[10px]">Jeddah Corniche</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/singapur.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Singapur" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 31</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Singapur</p>
                        <p class="text-zinc-400 text-[10px]">Marina Bay</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-y-4">
            <h3 class="text-red-600 font-black uppercase text-sm border-b border-zinc-800 pb-2 italic text-center">Agosto 2026</h3>
            <div class="space-y-3">
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-10 p-4 rounded-xl group h-24 flex flex-col justify-center animate-pulse animate-latido">
                    <img src="/Fotos/eeuu.jpg" class="absolute inset-0 w-full h-full opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Australia" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 07</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Estados Unidos</p>
                        <p class="text-zinc-400 text-[10px]">Circuito de las Américas - Austin</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/italia.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Italia" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 14</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Emilia-Romaña</p>
                        <p class="text-zinc-400 text-[10px]">Imola</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/italia.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Italia" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 21</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Italia</p>
                        <p class="text-zinc-400 text-[10px]">Monza</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/qatar.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Bahrein" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 28</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Baréin</p>
                        <p class="text-zinc-400 text-[10px]">Sakhir</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-y-4">
            <h3 class="text-red-600 font-black uppercase text-sm border-b border-zinc-800 pb-2 italic text-center">Septiembre 2026</h3>
            <div class="space-y-3">
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/granbretana.jpg" class="absolute inset-0 w-full h-full opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="UAE" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 04</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Gran Bretaña</p>
                        <p class="text-zinc-400 text-[10px]">Circuito de Silverstone</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-10 p-4 rounded-xl group h-24 flex flex-col justify-center animate-pulse animate-latido">
                    <img src="/Fotos/belgica.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Bélgica" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 11</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Bélgica</p>
                        <p class="text-zinc-400 text-[10px]">Spa-Francorchamps</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/japon.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Japón" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 18</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Suzuka</p>
                        <p class="text-zinc-400 text-[10px]">Suzuka Circuit</p>
                    </div>
                </div>
                <div class="relative overflow-hidden bg-zinc-950 border border-zinc-800 p-4 rounded-xl group h-24 flex flex-col justify-center">
                    <img src="/Fotos/emiratos.jpg" class="absolute inset-0 w-full h-full object-cover opacity-20 group-hover:opacity-40 transition-opacity duration-500" alt="Japón" />
                    <div class="relative z-10">
                        <p class="text-[9px] text-zinc-300 font-mono">VIERNES 25</p>
                        <p class="text-white font-black text-sm uppercase italic">GP de Abu Dabi</p>
                        <p class="text-zinc-400 text-[10px]">Yas Marina Circuit</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<style>
    /* Aseguramos que el texto sea legible con cualquier fondo */
    p { text-shadow: 0 2px 4px rgba(0,0,0,0.9); }
    .no-scrollbar::-webkit-scrollbar { display: none; }
</style>



<div class="w-full flex justify-center mt-01 mb-01">
    <p class="inline-flex items-center gap-2 px-6 py-2 border border-red-600/20 text-[11px] text-red-500 font-mono font-black uppercase tracking-[0.2em] rounded-full animate-pulse">
        Noooo, por el fondo plano noooo...
    </p>
</div>



        </main>
<audio id="musica-fondo" src="/cancion-ligaf1.mp3" loop preload="auto"></audio>
        <div class="fixed bottom-6 right-6 z-50">
            <button id="musicaBtn" class="bg-blue-100 hover:bg-red-700 text-white w-14 h-14 rounded-full shadow-2xl transition-all hover:scale-110 flex items-center justify-center border-2 border-yellow-500 animate-pulse">
                <span id="iconoMusica" class="text-xl">▶️</span>
            </button>
        </div>

        <audio id="musicaFondo" loop>
            <source src="/cancion-ligaf1.mp3" type="audio/mpeg">
        </audio>

        <script>
            const btn = document.getElementById('musicaBtn');
            const audio = document.getElementById('musicaFondo');
            const icono = document.getElementById('iconoMusica');

            btn.addEventListener('click', () => {
                if (audio.paused) {
                    audio.play();
                    icono.innerText = '⏸️'; 
                    btn.classList.add('animate-pulse');
                } else {
                    audio.pause();
                    icono.innerText = '▶️';
                    btn.classList.remove('animate-pulse');
                }
            });
        </script>
    </body>
</html>